html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #EEE2DC 50% 50%;
    background-size: cover;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #fff url(../img/loader.gif) no-repeat center center;
}